In [4]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /Users/voronik/DeepLearning/env/lib/python3.8/site-packages (1.5.0)
Requirement already satisfied: pytz>=2020.1 in /Users/voronik/DeepLearning/env/lib/python3.8/site-packages (from pandas) (2022.4)
Requirement already satisfied: numpy>=1.20.3 in /Users/voronik/DeepLearning/env/lib/python3.8/site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/voronik/DeepLearning/env/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/voronik/DeepLearning/env/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [16]:
!pip install -U scikit-learn
import numpy as np
from sklearn.model_selection import train_test_split

Collecting scikit-learn
  Downloading scikit_learn-1.1.2-cp38-cp38-macosx_10_9_x86_64.whl (8.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 5.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting joblib>=1.0.0
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 2.1 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting scipy>=1.3.2
  Downloading scipy-1.9.2-cp38-cp38-macosx_10_9_x86_64.whl (34.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.2/34.2 MB 5.7 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: numpy>=1.17.3 in /Users/voronik/DeepLearning/env/lib/python3.8/site-packages (from scikit-learn) (1.23.4)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.1.2 scipy-1.9.2 threadpoolctl-3.1.0

In [5]:
companies = pd.read_csv('/Users/voronik/DeepLearning/Anti_duplicate/cleaned.csv')

In [6]:
companies

,name_1,name_2,is_duplicate
0,iko industries ltd,enormous industrial trade pvt ltd,0
1,apcotex industries ltd,technocraft industries india ltd,0
2,rishichem distributors pvt ltd,dsa,0
3,powermax rubber factory,co one,0
4,tress,longyou industries park zhejiang,0
...,...,...,...
497814,bitmat products,goodyear tire rubber company,0
497815,bnd trading co ltd,zhong yue liang economy trade imp exp co ltd,0
497816,xeikon industrial co ltd dongguan city,yi cheng trading co ltd dongguan city,0
497817,shanghai kechuan trading co ltd,shanghai mg stationery inc,0
497818,dih wei industries co,burlington industries corporate,0

In [11]:
non_duplicate = companies[companies['is_duplicate']==0]

In [13]:
duplicate = companies[companies['is_duplicate']==1]

In [18]:
duplicate

,name_1,name_2,is_duplicate
161,jx nippon oil gas exploration brasil ltda,jx nippon oil gas exploration technical servic...,1
603,pirelli neumaticos saic,pirelli tyre co ltd,1
835,brenntag australia pty ltd,brenntag group,1
1328,paul bauder gmbh co kg bochum plant,paul bauder ag,1
1562,total ceska republika sro,total france arnay le duc,1
...,...,...,...
496574,bridgestone （huizhou）synthetic rubber co ltd,bridgestone india pvt ltd,1
496760,arlanxeo international group,arlanxeo corp,1
497015,brenntag peru sac,brenntag chile comercial e industrial ltda,1
497083,dow chemical international private ltd,dow chemical pacific,1
497605,bridgestone （huizhou）synthetic rubber co ltd,bridgestone international group,1

In [24]:
training_data_nonduplicate = non_duplicate.sample(frac=0.8, random_state=25)
testing_data_nonduplicate = non_duplicate.drop(training_data_nonduplicate.index)

training_data_duplicate = duplicate.sample(frac=0.8, random_state=25)
testing_data_duplicate = duplicate.drop(training_data_duplicate.index)

In [27]:
train = pd.concat([training_data_nonduplicate, training_data_duplicate])
test = pd.concat([testing_data_nonduplicate, testing_data_duplicate])

In [29]:
train.to_csv('train.csv')
test.to_csv('test')

,name_1,name_2,is_duplicate
0,iko industries ltd,enormous industrial trade pvt ltd,0
5,wpt mexico sa de cv,hopkins mfg de mexico de rl de cv,0
12,bestocean worldwide logistics inc,mandate logistics pte ltd,0
14,warehouse jonesboro,k international,0
20,faj international,fabrice,0
...,...,...,...
493994,pt bridgestone tire indonesia,bridgestone stargard sp zoo,1
494597,sumitomo warehouse usa inc,sumitomo rubber usa 10 sheridan,1
494779,arlanxeo canada inc,arlanxeo singapore pte lt,1
495936,adams resources exploration corporation oil ga...,adams resources exploration corporation oil ga...,1
497083,dow chemical international private ltd,dow chemical pacific,1